{% extends "base.njk" %}
{% block content %}
{% if page.page.frontMatter.template == "home" %}
  {% include "../partials/home-body.njk" %}
{% else %}
  {% include "../partials/docs-body.njk" %}
{% endif %}
{% endblock %}
